main {

    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/img/got-bg.jpg");
    // background-blend-mode: screen, difference, lighten;
}


.top div { 
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

}

.bottom {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100vh;
}