article {
  width: 50rem;
  margin: 0 auto;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.4em;
  text-align: justify;
  letter-spacing: 0.1em;
}

.banner {
  background-image: url(car.jpg);
  background-size: contain;
  background-position: center; 
  height:300px;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

.thingy {
  width: 5rem;
  height: 5rem;
  background-color: darkmagenta;
  position: absolute;
  left: 25rem;
  top: 28rem; 
}
.container {
  height: 10rem;
  border: 2px solid black;
  position: relative;

}

.mybox {
  background-color: sandybrown;
  border: 2.5 rem;
  padding: 2rem;
  margin: 1rem;

  width: 50vw;
  min-height: 50vw;
  padding: 1px; ==> goint o move the text out of the box if its close to the edge of the box;

}

section {
  padding: 0.5rem 2rem;
}

h1 {
  font-size: 22px;
  color: darkblue;
  text-align: center;
}
h2 {
  font-size: 16px;
  color: navy;
}
.intro {
  background-color: #778899;
  background-color: #add8e6;
}
em {
  background-color: #add8e6;
  font-style: normal;
  font-weight: 
}

.conclusion {
  background-color: #add8e6;
  
}

a {
  color: lightslategrey;
}