html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
* {
    margin: 0;
}

.top {
    height: 15vh;
}

.footer h1 {
    background-color: black;
    color:  white;
}
.container{
    display: flex;
    flex-direction: column;
}

.top {
    background-color: black;
    color:  white;
    
}

.center {
    height: 70vh;
    text-align: center;
    padding: 1rem;
}
.center h2 {
    
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.center p {
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: justify;
}
aside {
    background-color: coral;
}
.container .center {
    display: flex;
   
    justify-content: space-evenly;
    /* align-items: flex-end; */
    
    padding:0rem;
    
    margin: 0px;
    
}

.footer {
    background-color: black;
    color: white;
    height: 15vh;
}

